.admin-content {
  z-index: 10;
  position: relative;
  top: 60px;
  width: 80%;
  margin: auto;
}

.admin-content h2 {
  text-align: center;
}

.post-content {
  z-index: 10;
  position: relative;
  top: 58px;
  width: 96%;
  margin: auto;
}

.post-content h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
}

.post-content hr {
  margin-bottom: 12px;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.post-content h2 {
  font-family: 'Mulish', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: underline;
  text-align: left;
}

.post-content pre {
  margin: 0.5rem 1em;
  padding: 8px;
  background-color: rgb(186, 203, 235);
}

.post-content img {
  width: 100%;
  height: auto;
  background-color: white;
}

.post-content blockquote {
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 1em;
  background-color: rgba(255, 208, 0, 0.5);
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1em;
}

@media screen and (min-width: 800px) {
  .post-content {
    width: 70%;
    margin: auto;
  }
}
