.post-content {
  z-index: 10;
  position: relative;
  top: 58px;
  width: 96%;
  margin: auto;
}

.post-content h1 {
  font-size: 1.5em;
  font-weight: normal;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.post-content h2 {
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: underline;
  margin: 5px;
}

.post-content pre {
  margin: 0.5rem 1em;
  background-color: rgb(186, 203, 235);
}
